.cont{
    background-color: rgb(220, 218, 218);
    padding: 20px;
}

table,tr,td,th{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    width: 25%;
}

table{
    background-color:rgb(216, 193, 193);
    margin: 50px 550px;
    text-align: center;
    border: 1px solid transparent;
    box-shadow: 3px 3px 3px 3px gray;
}

h1{
    text-align: center;
    color:rgb(106, 106, 186);
}

form{
    background-color:rgb(216, 193, 193);
    width: 50%;
    margin: 20px 350px;
    border: 1px solid transparent;
    box-shadow: 3px 3px 3px 3px gray;
    padding: 20px;
}

h2{
    text-align: center;
    color:rgb(217, 125, 156);
}

label{
    display: inline-block;
    padding-left: 10px;
}

input{
    margin-left: 10px;
    padding: 10px;
    width: 70%;
}

.butt{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.butt button{
    width: 100px;
    padding: 10px;
    background-color:lightblue;
    color: white;
    border: none;
    border-radius: 10px;
    
}
button:hover{
    background-color: rgb(90, 206, 206);
}